In [1]:
import os

In [2]:
os.chdir("C:/Users/vyshn/Desktop/Data Sets")

In [3]:
os.getcwd()

'C:\\Users\\vyshn\\Desktop\\Data Sets'

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
from sklearn import preprocessing
data=pd.read_csv("predicting hypotential employees and employees at risk.csv")

In [6]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [7]:
from sklearn.preprocessing import LabelEncoder
lencode = LabelEncoder()

data['sales']=lencode.fit_transform(data['sales'])
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,7,low
1,0.80,0.86,5,262,6,0,1,0,7,medium
2,0.11,0.88,7,272,4,0,1,0,7,medium
3,0.72,0.87,5,223,5,0,1,0,7,low
4,0.37,0.52,2,159,3,0,1,0,7,low

In [8]:
data['salary']=lencode.fit_transform(data['salary'])
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,7,1
1,0.80,0.86,5,262,6,0,1,0,7,2
2,0.11,0.88,7,272,4,0,1,0,7,2
3,0.72,0.87,5,223,5,0,1,0,7,1
4,0.37,0.52,2,159,3,0,1,0,7,1

In [9]:
data.isnull().sum()

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
left                     0
promotion_last_5years    0
sales                    0
salary                   0
dtype: int64

In [10]:
data.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268,5.870525,1.347290
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281,2.868786,0.625819
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000,4.000000,1.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000,7.000000,1.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000,8.000000,2.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000,9.000000,2.000000

In [12]:
data.cov()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
satisfaction_level,0.061817,0.004469,-0.043814,-0.248945,-0.036618,0.005133,-0.041128,0.000919,0.002249,0.001829
last_evaluation,0.004469,0.029299,0.073703,2.904356,0.032888,-0.000428,0.000479,-0.000214,0.003816,0.001496
number_project,-0.043814,0.073703,1.519284,25.683271,0.354166,-0.002055,0.012488,-0.001078,0.032773,0.007461
average_montly_hours,-0.248945,2.904356,25.683271,2494.313175,9.316364,-0.178169,1.516419,-0.025541,0.560658,0.221349
time_spend_company,-0.036618,0.032888,0.354166,9.316364,2.131998,0.001089,0.090066,0.014206,-0.075439,-0.002820
Work_accident,0.005133,-0.000428,-0.002055,-0.178169,0.001089,0.123706,-0.023163,0.001992,0.003456,-0.000552
left,-0.041128,0.000479,0.012488,1.516419,0.090066,-0.023163,0.181411,-0.003797,0.039229,-0.000345
promotion_last_5years,0.000919,-0.000214,-0.001078,-0.025541,0.014206,0.001992,-0.003797,0.020817,-0.011315,-0.000119
sales,0.002249,0.003816,0.032773,0.560658,-0.075439,0.003456,0.039229,-0.011315,8.229935,0.001229
salary,0.001829,0.001496,0.007461,0.221349,-0.002820,-0.000552,-0.000345,-0.000119,0.001229,0.391650

In [13]:
data.corr()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
satisfaction_level,1.000000,0.105021,-0.142970,-0.020048,-0.100866,0.058697,-0.388375,0.025605,0.003153,0.011754
last_evaluation,0.105021,1.000000,0.349333,0.339742,0.131591,-0.007104,0.006567,-0.008684,0.007772,0.013965
number_project,-0.142970,0.349333,1.000000,0.417211,0.196786,-0.004741,0.023787,-0.006064,0.009268,0.009672
average_montly_hours,-0.020048,0.339742,0.417211,1.000000,0.127755,-0.010143,0.071287,-0.003544,0.003913,0.007082
time_spend_company,-0.100866,0.131591,0.196786,0.127755,1.000000,0.002120,0.144822,0.067433,-0.018010,-0.003086
Work_accident,0.058697,-0.007104,-0.004741,-0.010143,0.002120,1.000000,-0.154622,0.039245,0.003425,-0.002506
left,-0.388375,0.006567,0.023787,0.071287,0.144822,-0.154622,1.000000,-0.061788,0.032105,-0.001294
promotion_last_5years,0.025605,-0.008684,-0.006064,-0.003544,0.067433,0.039245,-0.061788,1.000000,-0.027336,-0.001318
sales,0.003153,0.007772,0.009268,0.003913,-0.018010,0.003425,0.032105,-0.027336,1.000000,0.000685
salary,0.011754,0.013965,0.009672,0.007082,-0.003086,-0.002506,-0.001294,-0.001318,0.000685,1.000000

In [15]:
data=data.astype(float)
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2.0,157.0,3.0,0.0,1.0,0.0,7.0,1.0
1,0.80,0.86,5.0,262.0,6.0,0.0,1.0,0.0,7.0,2.0
2,0.11,0.88,7.0,272.0,4.0,0.0,1.0,0.0,7.0,2.0
3,0.72,0.87,5.0,223.0,5.0,0.0,1.0,0.0,7.0,1.0
4,0.37,0.52,2.0,159.0,3.0,0.0,1.0,0.0,7.0,1.0

In [17]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2.0,157.0,3.0,0.0,1.0,0.0,7.0,1.0
1,0.80,0.86,5.0,262.0,6.0,0.0,1.0,0.0,7.0,2.0
2,0.11,0.88,7.0,272.0,4.0,0.0,1.0,0.0,7.0,2.0
3,0.72,0.87,5.0,223.0,5.0,0.0,1.0,0.0,7.0,1.0
4,0.37,0.52,2.0,159.0,3.0,0.0,1.0,0.0,7.0,1.0

In [11]:
X=data.iloc[:,1:11]

In [12]:
Y=data.iloc[:,0]

In [13]:
import statsmodels.api as sm
model1=sm.OLS(Y,X).fit()
predictions=model1.predict()
model1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:     satisfaction_level   R-squared:                       0.864
Model:                            OLS   Adj. R-squared:                  0.864
Method:                 Least Squares   F-statistic:                 1.059e+04
Date:                Sat, 22 Jun 2019   Prob (F-statistic):               0.00
Time:                        13:19:35   Log-Likelihood:                -114.81
No. Observations:               14999   AIC:                             247.6
Df Residuals:                   14990   BIC:                             316.2
Df Model:                           9
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [95.0% Conf. Int.]
-----------------------------------------------------------------------------------------
last_evaluation           0.5131      0.012     44.190      0.000         0.490     0.536
number_project           -0.0320      0.002    -17.339      0.000        -0.036    -0.028
average_montly_hours      0.0010   4.21e-05     24.151      0.000         0.001     0.001
time_spend_company        0.0119      0.001      8.662      0.000         0.009     0.015
Work_accident             0.0216      0.006      3.777      0.000         0.010     0.033
left                     -0.2185      0.005    -45.438      0.000        -0.228    -0.209
promotion_last_5years     0.0228      0.014      1.639      0.101        -0.004     0.050
sales                     0.0128      0.001     19.472      0.000         0.011     0.014
salary                    0.0582      0.003     19.442      0.000         0.052     0.064
==============================================================================
Omnibus:                      645.357   Durbin-Watson:                   1.952
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              718.112
Skew:                          -0.527   Prob(JB):                    1.16e-156
Kurtosis:                       2.800   Cond. No.                     1.45e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.45e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [16]:
X=data.iloc[:,[0,1,2,3,4,5,7,8,9]]

In [17]:
X.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,0,7,1
1,0.80,0.86,5,262,6,0,0,7,2
2,0.11,0.88,7,272,4,0,0,7,2
3,0.72,0.87,5,223,5,0,0,7,1
4,0.37,0.52,2,159,3,0,0,7,1

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=1)

In [19]:
from sklearn import linear_model as lm
model=lm.LinearRegression()

results=model.fit(x_train,y_train)

In [20]:
accuracy=model.score(x_test,y_test)

In [21]:
print('accuracy of the model:',accuracy)

accuracy of the model: 1.0

In [22]:
#Multi-regression

In [23]:
from sklearn.preprocessing import PolynomialFeatures

In [ ]:
polynomial = PolynomialFeatures(degree=6)
x_train_poly = polynomial.fit_transform(x_train)

In [ ]:
results=model.fit(x_train_poly,y_train)

In [ ]:
x_test_poly = polynomial.fit_transform(x_test)

In [ ]:
accuracy=model.score(x_test_poly,y_test)

In [ ]:
accuracy

In [ ]:
accuracy=model.score(x_train_poly,y_train)

In [ ]:
accuracy

In [ ]:
#print(data.values)

In [100]:
#1
#plt.plot(last_evaluation,satisfaction_level,'o')
#plt.xlabel=("last_evaluation")
#plt.ylabel=("satisfaction_level")
#plt.show()

In [131]:
#x=last_evaluation
#y=satisfaction_level
#from sklearn import cross_validation, neighbors
#from sklearn.cross_validation import train_test_split
#x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [136]:
#import statsmodels.api as sm
#model=sm.OLS( last_evaluation,satisfaction_level).fit()

In [46]:
#model.summary()

In [44]:
#2
#plt.plot(number_project,satisfaction_level,'o')
#plt.xlabel=("number_project")
#plt.ylabel=("satisfaction_level")
#plt.show()

In [140]:
#x=number_project
#y=satisfaction_level
#from sklearn import cross_validation, neighbors
#from sklearn.cross_validation import train_test_split
#x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [145]:
#import statsmodels.api as sm
#model=sm.OLS(number_project,satisfaction_level).fit()

In [45]:
#model.summary()

In [47]:
#3
#plt.plot(number_project,satisfaction_level,'o')
#plt.xlabel=("average_montly_hours")
#plt.ylabel=("satisfaction_level")
#plt.show()

In [148]:
#x=average_montly_hours
#y=satisfaction_level
#from sklearn import cross_validation, neighbors
#from sklearn.cross_validation import train_test_split
#x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [154]:
#import statsmodels.api as sm
#model=sm.OLS(average_montly_hours,satisfaction_level).fit()

In [48]:
#model.summary()

In [49]:
#4
#plt.plot(time_spend_company,satisfaction_level,'o')
#plt.xlabel=("time_spend_company")
#plt.ylabel=("satisfaction_level")
#plt.show()
#x=time_spend_company
#y=satisfaction_level
#from sklearn import cross_validation, neighbors
#from sklearn.cross_validation import train_test_split
#x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [50]:
#5
#plt.plot(Work_accident,satisfaction_level,'o')
#plt.xlabel=("Work_accident")
#plt.ylabel=("satisfaction_level")
#plt.show()
#x=Work_accident
#y=satisfaction_level
#from sklearn import cross_validation, neighbors
#from sklearn.cross_validation import train_test_split
#x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [180]:
#import statsmodels.api as sm
#model=sm.OLS(time_spend_company,satisfaction_level).fit()

In [51]:
#model.summary()

In [52]:
#6
#plt.plot(left,satisfaction_level,'o')
#plt.xlabel=("left")
#plt.ylabel=("satisfaction_level")
#plt.show()
#x=left
#y=satisfaction_level
#from sklearn import cross_validation, neighbors
#from sklearn.cross_validation import train_test_split
#x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [187]:
#import statsmodels.api as sm
#model=sm.OLS(time_spend_company,satisfaction_level).fit()

In [54]:
#model.summary()

In [55]:
#7
#plt.plot(promotion_last_5years,satisfaction_level,'o')
#plt.xlabel=("promotion_last_5years")
#plt.ylabel=("satisfaction_level")
#plt.show()
#x=promotion_last_5years
#y=satisfaction_level
#from sklearn import cross_validation, neighbors
#from sklearn.cross_validation import train_test_split
#x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [200]:
#import statsmodels.api as sm
#model=sm.OLS(promotion_last_5years,satisfaction_level).fit()

In [56]:
#model.summary()

In [57]:
#8
#plt.plot(salary,satisfaction_level,'o')
#plt.xlabel=("salary")
#plt.ylabel=("satisfaction_level")
#plt.show()
#x=salary
#y=satisfaction_level
#from sklearn import cross_validation, neighbors
#from sklearn.cross_validation import train_test_split
#x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [199]:
#import seaborn as sns
#sns.pairplot(data)

In [ ]:
#x=data.iloc[:,1:8]
#y=data.iloc[:,0]

In [59]:
#from sklearn.cross_validation import train_test_split  #train_test_split splits arrays or matrices into random train and test subsets. 
#x_train, x_test, y_train, y_test = train_test_split(x, y,test_size=0.4,random_state =2)

In [60]:
#x_train

In [61]:
#x_test

In [62]:
#y_train

In [63]:
#y_test

In [65]:
#from sklearn import linear_model as lm
#model=lm.LinearRegression()
#results=model.fit(x_train,y_train) 
#predictions = model.predict(x)
#accuracy=model.score(x,y)
#print('Accuracy of the model:', accuracy)

In [66]:
#plt.scatter(y, predictions)

In [64]:
#from sklearn.metrics import mean_squared_error, r2_score

# printing values
#print('Slope:' ,model.coef_)
#print('Intercept:', model.intercept_)
#print("\n")


#import numpy as np
#rmse = (np.sqrt(mean_squared_error(y,predictions)))
#r2 = r2_score(y,predictions)

#print("The model performance")
#print("--------------------------------------")
#print('RMSE is {}'.format(rmse))
#print('R2 score is {}'.format(r2))
#print("\n")